#include "pybind11/pybind11.h"
#include "engine/engine.h"

using namespace pybind11;

PYBIND11_MODULE(Engine, m) 
{

// ============================ FUNCTIONS ============================
{% for function in functions %}
m.def("{{ function.name }}", &::NTT_NS::{{ function.name }}, "{{ function.comment }}");
{% endfor %}
// ===================================================================

}