from typing import Any
from enum import Enum
# Engine pyi binding

# ============================ ENUMS ============================
{% for enum in enums %}
class {{ enum.name }}(Enum):
    {% if enum.comment %}
    """
    {{ enum.comment }}
    """
    {% endif %}
    {% for constant in enum.constants %}
    {{ constant.name }} = {{ constant.value }}
    {% endfor %}
{% endfor %}
# ===================================================================

# ============================ STRUCTS ============================
{% for struct in structs %}
class {{ struct.name }}:
    {% if struct.comment %}
    """
    {{ struct.comment }}
    """
    {% endif %}
    {% for attribute in struct.attributes %}
    @property
    def {{ attribute.name }}(self) -> {{ convertType(attribute.type) }}:
        {% if attribute.comment %}
        """
        {{ attribute.comment }}
        """
        {% endif %}
        ...
    {% endfor %}
{% endfor %}
# ===================================================================

# ============================ FUNCTIONS ============================
{% for function in functions %}
def {{ function.name}}(
    {% for arg in function.arguments %}
    {{ arg.name }}: {{ convertType(arg.type) }},
    {% endfor %}
) -> {{ convertType(function.return_type) }}:
    {% if function.comment %}
    """
    {{ function.comment }}
    """
    {% endif %}
    ...
{% endfor%}
# ===================================================================

# ============================ CLASSES ==============================
{% for class in classes %}
class {{ class.name }}:
    {% if class.comment %}
    """
    {{ class.comment }}
    """
    {% endif %}

    {% if class.methods != [] %}
        {% for method in class.methods %}
            {% if method.is_static %}
    @staticmethod
            {% endif %}
    def {{ method.name }}(
                {% if method.is_static %}
                {% else %}
        self,
                {% endif %}
                {% for arg in method.arguments %}
        {{ arg.name }}: {{ convertType(arg.type) }},
                {% endfor %}
    ) -> {{ convertType(method.return_type) }}: 
        {% if method.comment %}
        """
        {{ method.comment }}
        """
        {% endif %}
        ...
        {% endfor %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
# ===================================================================