from typing import Any
from enum import Enum
# Engine pyi binding

# ============================ ENUMS ============================
{% for enum in enums %}
class {{ enum.name }}(Enum):
    {% for constant in enum.constants %}
    {{ constant.name }} = {{ constant.value }}
    {% endfor %}
{% endfor %}
# ===================================================================

# ============================ STRUCTS ============================
{% for struct in structs %}
class {{ struct.name }}:
    {% for attribute in struct.attributes %}
    {{ attribute.name }}: {{ convertType(attribute.type) }}
    {% endfor %}
{% endfor %}
# ===================================================================

# ============================ FUNCTIONS ============================
{% for function in functions %}
def {{ function.name}}(
    {% for arg in function.arguments %}
    {{ arg.name }}: {{ convertType(arg.type) }},
    {% endfor %}
) -> {{ convertType(function.return_type) }}: ...
{% endfor%}
# ===================================================================

# ============================ CLASSES ==============================
{% for class in classes %}
class {{ class.name }}:
    {% if class.methods != [] %}
        {% for method in class.methods %}
            {% if method.is_static %}
    @staticmethod
            {% endif %}
    def {{ method.name }}(
                {% if method.is_static %}
                {% else %}
        self,
                {% endif %}
                {% for arg in method.arguments %}
        {{ arg.name }}: {{ convertType(arg.type) }},
                {% endfor %}
    ) -> {{ convertType(method.return_type) }}: ...
        {% endfor %}
    {% else %}
        ...
    {% endif %}
{% endfor %}
# ===================================================================